/* Write your CSS here */
.latest-match-card-container {
  margin-top: 20px;
  width: 100%;
}
.heading {
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: 'bree serif';
}
.latest-match-card {
  display: flex;
  flex-direction: column;
  background-color: #1e293b;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
.latest-match-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.latest-match-details-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: 'bree serif';
  width: 80%;
}
.latest-match-team-name {
  font-size: 18px;
  font-weight: 500;
}
.latest-match-venue,
.latest-match-date,
.latest-match-result {
  font-size: 16px;
  font-weight: 500;
}
.logo {
  height: 100px;
  width: 100px;
}
.latest-match-details-info{
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 20px;
}
.label{
  color: white;
  font-family: "bree serif";
  font-size: 14px;
}
.value{
  color: white;
  font-family: "bree serif";
  font-size: 12px;

}